html {
  scroll-behavior: smooth;
}

:root {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  overflow-x: hidden;
  min-height: 100vh;
  height: auto;
}
