.fourStepsContainer {
  margin: 0 auto;
  min-height: 325px;
  height: auto;
  background: #f0f1f1 0% 0% no-repeat padding-box;
  display: flex;
  min-width: 100vw;
  margin-left: calc(-50vw + 50%);
  overflow-x: visible;
  .list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    flex-grow: 1;
  }
  .list li {
    display: flex;
    flex-grow: 1;
    align-items: center;
    flex-direction: column;
  }
}
.icon {
  background: transparent url("./Icon-1.svg");
  display: block;
  height: 83px;
  width: 83px;
  z-index: 33;
}
.icon2 {
  background: transparent url("./Icon-2.svg") 0% 0% no-repeat padding-box;
  background-size: contain;
  display: flex;
  height: 83px;
  width: 83px;
  z-index: 33;
  gap: 20px;
}

.icon3 {
  background: transparent url("./Icon-3.svg");
  background-size: contain;
  height: 83px;
  width: 83px;
}

.icon4 {
  background: transparent url("./Icon-4.svg");
  background-size: contain;
  width: 83px;
  height: 83px;
}

.chooseThings {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  font-size: 24px;
  letter-spacing: 0px;
  color: #3c3c3c;
  opacity: 1;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    border-bottom: 2px solid grey;
    height: 2px;
    width: 110px;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
  }
}
.span3 {
  text-align: center;
  margin-top: 17px;
  height: 40px;
  font-size: 16px;
  color: #3c3c3c;
}
