.h4GiveThings {
  margin: 0 auto;
  display: flex;
  margin-top: 100px;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 36px;
  height: 120px;
  width: 400px;
  padding: 13px 93px;
  border: 2px solid #3c3c3c;
}
