@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

.heroContainer {
  display: flex;
  align-items: center;
  min-width: 100vw;
  margin-left: calc(-50vw + 50%);
  height: 800px;
  position: relative;
}

.decorationGit {
  margin-top: 25px;
  width: 270px;
  height: 33px;
  background: transparent url("./Decoration.svg") 0% 0% no-repeat padding-box;
}

.image {
  display: block;
  position: absolute;
  background-image: url("../../../assets/Home-Hero-Image.jpg");
  background-size: contain;
  background-position: left center;
  background-repeat: no-repeat;
  object-fit: cover;
  width: 100%;
  height: 963px;
  z-index: -1;
  // top: -350px;
  // left: -500px; // ?? calc(-12vw) ??
}
.heroImageContainer {
  display: flex;
  height: 963px;
  width: 100%;
  flex-grow: 1;
  overflow: hidden;
  position: relative;
  z-index: -4;
}

.heroContent {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  justify-content: center;
  height: 100%;
  color: black;
  flex-grow: 1;
  .heroContentContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    h4 {
      font-weight: 100;
      margin-top: 10px;
      letter-spacing: 3px;
      margin-bottom: 3px;
      font-size: 40px;
      position: relative;
      font-family: "Open Sans,serif";
    }
  }
  .heroButtons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 150px;
    button {
      height: 110px;
      width: 220px;
      font-size: 35px;
      font-weight: 100;
      margin-top: 200px;
      background-color: white;
      border: 0.5px solid grey;
    }
  }
}

@media (max-width: 1925px) {
  .image {
    width: 75vw;
    left: -25vw;
  }

  .heroContent {
    width: 45vw;
    margin-right: 16vw;
  }
}

@media (max-width: 1024px) {
  .heroContainer {
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: auto;
  }

  .image {
    width: 100vw;
    height: 300px;
    position: relative;
    top: 0;
    left: 0;
    background-size: cover;
  }

  .heroContent {
    width: 90vw;
    padding: 15px;
    align-items: center;
    text-align: center;
  }
}
