.container {
  background-color: darkgoldenrod;
  height: 250px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  gap: calc(37vh);
  .column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
