$primary-color: #1e3c72;
$secondary-color: #2a5298;

.navContainer {
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px;
  margin-bottom: 50px;
  z-index: 44;
}

.navList {
  margin-top: 100px;
  max-width: 683px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  list-style: none;
}

.navItem {
  display: flex;
  justify-content: center;
  align-self: flex-end;
  min-width: 30px;
  max-width: fit-content;
  font-size: 25px;
  letter-spacing: 2px;
  font-weight: 300;
  color: black;

  padding: 10px 30px;
  transition: all 0.3s ease-in-out;

  &:hover {
    transform: scale(1.05);
    color: #ffcc00;
    cursor: pointer;
    border: 1px solid black;
  }
}
